name: TypeScript Build

on:
  pull_request:
    types: [opened, synchronize, reopened, assigned, edited, ready_for_review]
  push:
  workflow_dispatch:

jobs:
  tsc:
    name: TypeScript Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: install node v16
      uses: actions/setup-node@v6
      with:
        node-version: 16
    - name: npm install
      run: npm install
    - name: tsc
      uses: icrawl/action-tsc@v1
